body{
    background-color: orangered;
    background-size: 100%;
    background-attachment: fixed;
}
h3{
    text-indent: 25px;
}
header{
    background-color: darksalmon;
    border-radius: 20px;
    float: left;
    margin: 1%;
    width:98%;
    height:150px;
}
nav{
    background-color: steelblue;
    border-radius: 20px;
    float: left;
    height:650px;
    width: 28%;
    margin: 1%;
}
section{
    background-color: cornsilk;
    border-radius: 20px;
    float: left;
    height:650px;
    width: 68%;
    margin: 1%;
}
h2{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: inherit;
}

.kk{
    background-color:cornflowerblue;
    border: 1px solid burlywood;
    margin: 5px;
    color:crimson;
    width:200px;
    padding: 10px;
    text-transform: capitalize;
    transition: 0.7s ease;
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.kk:hover{
    transform: scale(1.3);
}
h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul{
    list-style-type: none;
}
.pr{
    display: inline-block;
    margin: 10px;
    margin-left: 13%;
    height:120px;
	width: 120px;
    background-color: burlywood;
    text-align: center;
    font-size: 80px;
    color: cadetblue;
    font-family: cursive;
   
}
#Wäh{
    font-size: 30px;
    text-indent: 40px;
    margin-bottom: 10px;
    color: darkkhaki;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Sch{
    text-align:center;
    margin: 5%;
    height:50px;
	width: 700px;
    padding:10px;
    background-color:burlywood;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: floralwhite;
    transition: 0.7s ease;
}
.Sch:hover{
    transform: scale(1.1);
}
#spr{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    color:chocolate;
}
#prgsp{
    background-color: dimgray;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100px;
    font-size: 20px;
    text-indent: 10px;
    border-radius: 10px;
    color: cornsilkgit;
}
i{
    color: burlywood;
    margin-bottom: 10px;
    font-size: 30px;
    text-indent: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
main{
    background-color: blanchedalmond;
    width: 98%;
    height: 700px;
    border-radius: 20px;
}
#t1{
    background-image: url(sport.avif);
}
#fl{
    height: 70px;
    width: 70px;
    border-radius: 30px;
    margin-left:90%;
    margin-top: 25%;
    transition: 0.7s ease;
    opacity: 0.8;
}
#fl:hover{
    transform: scale(1.5);
}
#nadal{
    display: block;
    margin:-30px auto 20px auto;
    margin-top: -300px;
    width: 250px;
    border-radius: 10px;

}
input[type="checkbox"]{
    margin: 10px;
    width: 20px;
    height: 20px;
}
#uu{
    text-indent: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: cadetblue;
}
label{
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}